footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: rgb(240, 240, 240);
  height: 10vh;

  div {
    text-align: center;
    font-size: .9em;
  }

  a {
    color: rgb(0, 115, 168);
    text-decoration: none;
  }

}