<div class="main">
  <mat-card>
    <mat-card-title>Search address by your CEP</mat-card-title>
    <div class="input-mom">
      <mat-form-field>
        <mat-label>Type your CEP</mat-label>
        <input matInput type="text">
      </mat-form-field>
      <button mat-raised-button color="primary">Search</button>
    </div>

    <div class="address-fields">
      <div class="single-field">
        <span class="label">Street:</span>
        <br>
        <span>{{ api }}</span>
      </div>
      <div class="single-field">
        <span class="label">Street:</span>
        <br>
        <span>dkasj</span>
      </div>
      <div class="single-field">
        <span class="label">Street:</span>
        <br>
        <span>dkasj</span>
      </div>
      <div class="single-field">
        <span class="label">Street:</span>
        <br>
        <span>dkasj</span>
      </div>
    </div>
  </mat-card>
</div>